body{margin:0; padding: 0}
header{
    position: absolute;
    text-align: left;
    top:2vh;
    left: 5vw;
    
}
#app{
    border: 3px solid black;
    width:90vw;
    height:90vh;
    margin: 4vw;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#music-player{
    margin: 5em;
    display: none;
    flex-direction: column;
    align-items: center;
}